@import "tailwindcss";

@theme {
  --color-primary-50: #f7f9fd;
  --color-primary-100: #d7e1f5;
  --color-primary-200: #b1c1ea;
  --color-primary-300: #8b98d9;
  --color-primary-400: #6573b7;
  --color-primary-500: #3e4c8d;
  --color-primary-600: #2c376b;
  --color-primary-700: #1c254a;
  --color-primary-800: #131835;
  --color-primary-900: #080a1a;
  --color-primary-950: #00000d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
