@import "tailwindcss";

@theme {
  --color-primary-50: #f5f5f5;
  --color-primary-100: #e0e0e0;
  --color-primary-200: #c2c2c2;
  --color-primary-300: #a3a3a3;
  --color-primary-400: #858585;
  --color-primary-500: #666666;
  --color-primary-600: #444444;
  --color-primary-700: #2a2a2a;
  --color-primary-800: #1c1c1c;
  --color-primary-900: #121212;
  --color-primary-950: #0a0a0a;

  --color-secondary-1: #ffd700;
  --color-secondary-2: #cbac05;
  --color-secondary-3: #9e8704;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.categori-button {
  position: relative;
}

.categori-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}

.categori-button:hover::before {
  width: 100%;
}

.categori-button-imdb::before {
  background-color: #cbac05 !important;
}

.cinema-box {
  border-left-style: dashed;
  border-top-style: solid;
}

@media screen and (max-width: 640px) {
  .cinema-box {
    border-left-style: solid;
    border-top-style: dashed;
  }
}
