@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #0a0a0a; /* Koyu moddaki 950'nin değeri */
  --color-primary-100: #121212; /* Koyu moddaki 900'ün değeri */
  --color-primary-200: #1c1c1c; /* Koyu moddaki 800'ün değeri */
  --color-primary-300: #2a2a2a; /* Koyu moddaki 700'ün değeri */
  --color-primary-400: #444444; /* Koyu moddaki 600'ün değeri */
  --color-primary-500: #666666; /* Orta nokta, aynı kalabilir */
  --color-primary-600: #858585; /* Koyu moddaki 400'ün değeri */
  --color-primary-700: #a3a3a3; /* Koyu moddaki 300'ün değeri */
  --color-primary-800: #c2c2c2; /* Koyu moddaki 200'ün değeri */
  --color-primary-900: #e0e0e0; /* Koyu moddaki 100'ün değeri */
  --color-primary-950: #f5f5f5; /* Koyu moddaki 50'nin değeri (En açık) */

  --color-secondary-1: #9e8704;
  --color-secondary-1-2: #cbac05;
  --color-secondary-2: #e5c203;
  --color-secondary-3: #ffd700;
}

@layer theme {
  .dark {
    --color-primary-50: #f5f5f5;
    --color-primary-100: #e0e0e0;
    --color-primary-200: #c2c2c2;
    --color-primary-300: #a3a3a3;
    --color-primary-400: #858585;
    --color-primary-500: #666666;
    --color-primary-600: #444444;
    --color-primary-700: #2a2a2a;
    --color-primary-800: #1c1c1c;
    --color-primary-900: #121212;
    --color-primary-950: #0a0a0a;

    --color-secondary-1: #ffd700;
    --color-secondary-1-2: #e5c203;
    --color-secondary-2: #cbac05;
    --color-secondary-3: #9e8704;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  --foreground: #0a0a0a;
  --background: #ededed;
}

.categori-button {
  position: relative;
}

.categori-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}

.categori-button:hover::before {
  width: 100%;
}

.categori-button-imdb::before {
  background-color: #cbac05 !important;
}

.cinema-box {
  border-left-style: dashed;
  border-top-style: solid;
}

@media screen and (max-width: 640px) {
  .cinema-box {
    border-left-style: solid;
    border-top-style: dashed;
  }
}

.login-input {
  position: relative;
}

.login-input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #444444;
  transition: width 0.3s ease;
}

.login-input:focus::before {
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-1); /* gri tik */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-secondary-3); /* track rengi */
  border-radius: 4px;
}

.thumb-swiper .swiper-button-prev,
.thumb-swiper .swiper-button-next {
  color: var(--color-secondary-1-2);

  top: 50%;
  transform: translateY(-20%);

  --swiper-navigation-size: 22px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}

.thumb-swiper .swiper-button-prev:hover,
.thumb-swiper .swiper-button-next:hover {
  color: var(--color-secondary-3);
}

.swiper-pagination-bullet {
  background-color: var(--color-secondary-1-2) !important;
}
